extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float mx-auto text-center big-top-margin")
        h1 CRUD NodeJS + ExpressJS
        a(href="/login" class="right-space") Iniciar Sesion
        a(href="/signUp") Registro